* {
    font-family: "JetBrainsMono Nerd Font Propo";
    font-weight: bold;
    font-size: 14px;
    min-height: 10px;
  }
  
  #waybar {
    background: rgba(23,23,23,0.97);
    color: #fff;
  }
  
  #clock {
    color: #ccc7c5;
  }
  
  #tray {
    padding-left: 3px;
  }
  
  #workspaces button:hover {
    background-color: transparent;
  }
  
  #workspaces button {
    color: #737373;
    padding-left: 4px;
    padding-top: 2px;
    padding-right: 4px;
    padding-bottom: 2px;
    border-radius: 5px;
  }
  
  #workspaces button:hover {
    background-color: #262626;
  }
  
  #workspaces button.active {
    color: #A0C8B8;
  }
  
  #window {
    color: #fff;
  }
  
  #network {
    color: #3b82f6;
    margin-right: 8px;
  }
  
  #pulseaudio {
    color: #709793;
    margin-right: 8px;
  }
  
  #cpu {
    color: #98A7A0;
    margin-right: -2px;
  }
  
  #memory {
    color: #E1AA99;
    margin-right: -2px;
  }
  
  #custom-powermenu {
    color: #f43f5e;
  }

  #custom-cpuinfo {
    color: #EDDEAB;
  }

  memory {
    color: #351f19;
    color: #5C7C81;
    color: #709793;
    color: #98A7A0;
    color: #E1AA99;
    color: #A0C8B8;
    color: #EDDEAB;
    color: #ccc7c5;
    color: #7d6b66;
    color: #5C7C81;
    color: #709793;
    color: #98A7A0;
    color: #E1AA99;
    color: #A0C8B8;
    color: #EDDEAB;
    color: #ccc7c5;
  }
